

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Lato.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/LatoBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/LatoItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/RobotoSlab-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-SemiBold.ttf) format('truetype');
  font-style: normal;
  font-weight: bold;

